*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}
html,body{
    height: 100%;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 2%;
}
.clear{
    clear: both;
}

/* HEADER */
header{
    padding: 15px 0;
    height: 90px;
}
.logo{
    float: left;
}
.logo img{
    width: 130px;
}
.desktop{
    float: right;
}
.desktop ul{
    list-style-type: none;
    padding-top: 9px;
}
.desktop ul li{
    float: left;
    padding: 0 20px;
    font-size: 23px;
    font-style: italic;
}
.desktop ul li a{
    text-decoration: none;
    color: black;
}
.mobile{
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    background-size: 100% 100%;
    background-image: url(../images/icon_menu.png);
    cursor: pointer;
    margin-top: 10px;
}
.mobile ul {
    width: 100%;
    background-color: white;
    text-align: center;
    list-style-type: none;
    position: absolute;
    left: 0;
    top: 90px;
    z-index: 999;
    display: none;
}
.mobile ul li{
    padding: 20px 0;
    font-size: 23px;
    font-style: italic;
}
.mobile ul li a{
    text-decoration: none;
    color: black;
}
.mobile ul li:hover{
    transition:0.3s;
    background-color: rgb(223, 220, 220);
}

/* SOBRE */
.sobre{
    padding: 80px 2% 20px 2%;
}
.line-titulo{
    position: relative;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}
.ln1{
    position: absolute;
    height: 1px;
    background-color: black;
    width: 100%;
    top: 20px;
}
.line-titulo h2{
    font-size: 27px;
    font-style: italic;
    text-transform: uppercase;
    text-align: center;
    background-color: white;
    z-index: 5;
    position: relative;
    max-width: 300px;
    margin: 0 auto;
}
.sobre .container{
    margin-top: 30px;
    max-width: 840px;
}
.sobre .img-destaque{
    width: 100%;
    padding-top: 60%;
    background-color: rgb(220, 220, 220);
}
.sobre .descricao-autor{
    margin-top: 20px;
}
.descricao-autor h2{
    font-size: 24px;
}
.descricao-autor p{
    font-size: 16px;
    margin-top: 10px;
}
.descricao-autor2{
    margin-top: 40px;
}
.img-small{
    width: 30%;
    padding-top: 30%;
    float: left;
    background-color: rgb(220, 220, 220);
}
.descricao-autor2 p{
    float: left;
    width: 70%;
    padding: 15px;
    line-height: 25px;
}

/* FOOTER */
footer{
    padding: 40px 2%;
    background: #252525;
}
footer nav{
    float: left;
}
footer nav ul{
    list-style-type: none;
}
footer nav ul li{
    float: left;
    padding: 0 20px;
}
footer nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 16px;
}
footer p{
    float: right;
    font-size: 16px;
    color: white;
    font-style: italic;
}

/* RESPONSIVO */
@media screen and (max-width:768px){
    .mobile{
        display: block;
    }
    .desktop{
        display: none;
    }
    footer{
        text-align: center;
    }
    footer nav{
        display: none;
    }
    footer p{
        float: none;
    }
}
@media screen and (max-width: 580px){
    .img-small{
        width: 100%;
        padding-top: 100%;
    }
    .descricao-autor2 p{
        width: 100%;
    }
}
@media screen and (max-width: 320px){
    header{
        height: 40px;
    }
    .logo img{
        width: 90px;
    }
    .mobile{
        width: 25px;
        height: 25px;
        margin-top: 0;
    }
}